########################################
# AMBIENTE
########################################
APP_ENV=docker

# =========================
# DATABASE
# =========================
# Preencher localmente
DB_HOST=mysql
DB_PORT=3306
DB_USER=
DB_PASSWORD=

# =========================
# EUREKA
# =========================
EUREKA_URL=http://service-registry:8081/eureka/

# =========================
# SPRING CONFIG
# =========================
SPRING_CONFIG_SERVER_URL=http://config-server:8888

# =========================
# EMAIL
# =========================
# Preencher localmente
EMAIL_USERNAME=
EMAIL_PASSWORD=

# =========================
# JWT
# =========================
# Preencher localmente
ATCARE_JWT_ISSUER=atcare-ms-auth
ATCARE_JWT_SECRET=
ATCARE_TEMPO_EXP_TOKEN=15
ATCARE_TEMPO_EXP_REFRESH_TOKEN=1440

# =========================
# CONFIG SERVER AUTH
# =========================
# Preencher localmente
ATCARE_SERVERCONFIG=

########################################
# DATABASES DOS MICROSSERVIÇOS
########################################
DB_NAME_AUTENTICACAO=atcare_autenticacao
DB_NAME_PESSOAS=atcare_pessoas
DB_NAME_USUARIO=atcare_usuario
DB_NAME_CLIENTE=atcare_cliente